body {
    margin: 0;
}

.navButton {
    text-decoration: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 10px;
    font-size: 15px;
    font-family: Papyrus,fantasy;
    font-weight: 100;
    letter-spacing: 1px;
}

.navButton:hover {
    background-color: red;
}

.formPadding {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.inputLabel{
    font-family: Papyrus,fantasy;
    font-weight: 100;
    margin-bottom: 15px;
    letter-spacing: .5px;
}

.inputField {
    width: 30%;
    border-radius: 100px;
    border-color: grey;
    border-style: dotted;
    padding: 5px 10px;
}

.inputField:focus {
    width: 50%;
    transition: all .4s;
}

.submitButton {
    color: white;
    background-color: blue;
    font-family: Papyrus,fantasy;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    align-self: center;
    cursor: pointer;
    transition: all .4s;
}
.submitButton:hover{
    box-shadow: 0 5px 4px 4px #ccc;
    transform: translateY(-5px);
    color: black;
}

.submitButton:hover:active {
    transform: translateY(0px);
    box-shadow: 0 5px 4px 1px #ccc;
}

.inputError {
    font-family: Papyrus,fantasy;
    font-weight: 100;
    color: red;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: .5px;

}

.button {
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
}

.button-1 {
    margin-right: 15px;
    background-color: orange;
}


.button:hover {
    background-color: blue;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 10px 30px 30px 30px;
    width: 37vw;

    display: flex;
    flex-direction: column;
}

.modalButtonContainer{
    align-self: flex-end;
}

.modalName {
    margin-bottom: 45px;
    text-align: center;
}

.modalDescription{
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.showTitle {
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    border-bottom: 1px solid black;
    text-align: center;
}

.showDescription{

}
.showContainer{
    padding: 30px;
}